body {
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 18px;
    margin: 0px 80px 0px 80px;
    justify-content: space-between;
}

#title{
    font-size: 30px;
}

#links {
    display: flex;
}

a, #settings {
    color: black;
    font-size: 18px;
    margin: 18px;
}

.ctn2 {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 180px;
    background-color: lightblue;
    height: 100%;
}

.person {
    display: flex;
    
    margin-bottom: 30px;
    align-items: center;
    background-color: rgb(104, 125, 143);
}

#friendPfp {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

.body-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#idk {
    width: 1200px;
}

.newClass {
    filter:(blur(3px));
    color: red;
}