body {
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 18px;
    justify-content: space-around;
}

#title{
    font-size: 30px;
}

#links {
    display: flex;
}

a, #settings {
    color: black;
    font-size: 24px;
    margin: 4px;
}

.ctn2 {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 180px;
    background-color: lightblue;
    height: 100%;
}

.person {
    
}

.body-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#idk {
    width: 1200px;
}

.newClass {
    filter:(blur(3px));
    color: red;
}