body {
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 18px;
    margin: 0px 80px 0px 80px;
    justify-content: space-between;
}

#title{
    font-size: 30px;
}

#links {
    display: flex;
}

a, #settings {
    color: black;
    font-size: 18px;
    margin: 18px;
}

.ctn2 {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 270px;
    background-color: lightblue;
    height: 100%;
}

.person {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
    background-color: rgb(104, 125, 143);
}

.person:hover {
    background-color: rgb(176, 194, 210);
}

.friendPfp {
    width: 40px;
   
    border-radius: 50%;
}

.body-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.msg-box {
    display: flex;
    width: 900px;
    background-color: aliceblue;
    height: 600px;
    overflow: scroll;
    flex-direction: column;
}

.other-msg {
    margin: 4px;
    display: flex;
    flex-direction: column;
    background-color:lavender;
    border-radius: 14px;
    width: max-content;
}

.my-msg {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 130, 187);
    margin: 4px;
    border-radius: 14px;
    align-self: flex-end;
    width: max-content;
}

.name {
    font-size: 14px;
}

.txt {
    font-size: 16px;
    margin: 4px 0px 4px 0px;
}

.time {
    font-size: 10px;
    align-self: flex-end;
}

.other-msg > div, .my-msg > div {
    margin: 6px;
}

.newClass {
    filter:(blur(3px));
    color: red;
}